<div class="container">

    <div class="credit-card">

      <div class="card-front">
        <div class="logo">VISA</div>
        <div class="card-number">1234 1234 1234 1234</div>
        <div class="card-info">
          <div class="cardholder">
            <label>Cardholder</label>
            <div class="cardholder-name">FELIPE VASQUEZ MANSILLA</div>
          </div>
          <div class="expires">
            <label>Expires</label>
            <div class="expires-date">12/23</div>
          </div>
        </div>
      </div>

    </div>
  
  </div>
  