.container {
    width: 83%;
    margin: auto;
    overflow: hidden;
}

/* ---- HEADER ---- */

#header {
    background: #444242;
}

#header .linkbutton {
    display: flex;
    justify-content: flex-end;
}

#header .linkbutton button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

#header .linkbutton button img,
#header .linkbutton button:nth-child(2) img {
    width: 25px;
    height: auto;
}

#navbar {
    background-color: #ffffff;
    color: #000000;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}
