<header id="header">
    <div class="container">
        <div class="linkbutton">
            <button (click)="openTwitter()">
                <img src="assets/images/TwitterIcon.png" alt="Twitter">
            </button>
            <button (click)="openLinkedIn()">
                <img src="assets/images/LinkedinIcon.png" alt="LinkedIn">
            </button>
        </div>
    </div>
</header>

<nav id="navbar">
    <div class="container">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="https://www.planexware.com/soluciones-para-potenciar-su-negocio/">Soluciones</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="https://www.planexware.com/contacto/">Contacto</a></li>
        </ul>
    </div>
</nav>
