<div class="container">
  <form [formGroup]="form" (ngSubmit)="guardarTarjeta()" class="formulario">
    <div class="form-group">
      <label for="dni">DNI del Titular:</label>
      <input id="dni" type="text" formControlName="dni" placeholder="DNI del Titular" maxlength="8">
    </div>

    <div class="form-group">
      <label for="numeroTarjeta">Numero de Tarjeta:</label>
      <input id="numeroTarjeta" type="text" formControlName="numeroTarjeta" placeholder="Numero de Tarjeta" maxlength="16">
    </div>

    <div class="form-group">
      <label for="titular">Nombre y Apellido del Titular:</label>
      <input id="titular" type="text" formControlName="titular" placeholder="Nombre y Apellido" maxlength="40">
    </div>

    <div class="fecha-cvv-group">
      <div class="inputfecha">
        <label for="fechaExpiracionMes">Mes:  </label>
        <input for="fechaExpiracionMes" type="text" formControlName="fechaExpiracionMes" placeholder="MM" maxlength="2" />
      </div>
      <div class="inputfecha">
        <label for="fechaExpiracionAnio">Año:  </label>
        <input for="fechaExpiracionAnio" type="text" formControlName="fechaExpiracionAnio" placeholder="AA" maxlength="2" />
      </div>
      <div class="inputcvv">
        <label for="cvv">CVV:  </label>
        <input id="cvv" type="password" formControlName="cvv" pattern="[0-9]*" placeholder="CVV" maxlength="3">
      </div>
    </div>

    <button class="botonlimpiar" type="button" (click)="limpiarFormulario()">Limpiar Datos</button>
    <button class="botonguardar" type="submit" [disabled]="form.invalid">Guardar Tarjeta</button>
  </form>
</div>
