.padre {
    display: flex;
  }
  
  .tarjeta-credito-form, .tarjetafisica {
    flex: 1;
  }

  .lista-tarjetas {
    text-align: center;
    margin: 25px;
    margin-bottom: 50px;
    padding: 100px;
  }