<div class="container">
    <div class="form-wrapper">
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
        
        <div class="form-group">
          <label for="dni">DNI del Titular</label>
          <input id="dni" placeholder="Ingrese el DNI del titular" formControlName="dni" />
        </div>
  
        <div class="form-group">
          <label for="cardNumber">Numero de Tarjeta</label>
          <input id="cardNumber" placeholder="Número de tarjeta" formControlName="cardNumber" />
        </div>
  
        <div class="form-group">
          <label for="fullName">Nombre y Apellido</label>
          <input id="fullName" placeholder="Ingrese su nombre y apellido" formControlName="fullName" />
        </div>
  
        <div class="expiration-security">
          <div class="form-group">
            <label for="expiration">Vencimiento</label>
            <input id="expiration" placeholder="MM / AAAA" formControlName="month" (input)="handleExpirationInput($event.target)" [class.with-slash]="user.get('expiration.month')?.value.length >= 2" />
          </div>
          <div class="form-group">
            <label for="securityCode">CVV</label>
            <input id="securityCode" placeholder="Ingrese el código de seguridad" formControlName="securityCode" />
          </div>
        </div>
  
        <button type="submit" [disabled]="user.invalid">Sign up</button>
      </form>
    </div>
  </div>
  