<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="guardarTarjeta()">

      <div class="form-group">
        <label for="cardNumber">Numero de Tarjeta:</label>
        <input id="cardNumber" type="text" formControlName="cardNumber" placeholder="Numero de Tarjeta">
      </div>

      <div class="form-group">
        <label for="fullName">Nombre y Apellido:</label>
        <input id="fullName" type="text" formControlName="fullName" placeholder="Nombre y Apellido">
      </div>

      <div class="expiration-security">
        <div>
          <label for="expiration">Fecha de Vencimiento:</label>
          <input id="expiration" type="text" formControlName="expiration" placeholder="MM/AAAA" [(ngModel)]="expirationValue" (input)="handleExpirationInput(expirationValue)" [class.with-slash]="expirationValue.length >= 2">
        </div>
        <div>
          <label for="securityCode">Código de Seguridad:</label>
          <input id="securityCode" type="text" formControlName="securityCode" placeholder="CVV">
        </div>
      </div>

      <button class="botonguardar" type="submit" [disabled]="userForm.invalid">Guardar Tarjeta</button>
    </form>
</div>
