.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  padding: 20px;
  background-color: #ccc;
  border-radius: 8px;
  margin-right: auto;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-size: 12px;
}

input {
  width: 380px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.lineavencimientocvv {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 15px;
}

.date-input,
.cvv-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-input input {
  width: 80px;
  margin-left: 10px;
}

.date-input span {
  font-weight: bold;
  margin: 0 5px;
}

.cvv-input {
  margin-left: 30px;
}

.lineavencimientocvv input,
.cvv-input input {
  width: 80px;
  margin-bottom: 5px;
}

button.botonguardar {
  background-color: orange;
  color: #fff;
  width: 370px;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 20px;
  border: none;
  font-size: 14px;
  margin-top: 10px;
}

button.botonguardar:hover {
  background-color: darkorange;
}
