<div class="container">
    <form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
      <div class="form-group">
        <label for="dni">DNI del Titular:</label>
        <input id="dni" type="text" formControlName="dni" placeholder="DNI del Titular">
      </div>

      <div class="form-group">
        <label for="numeroTarjeta">Numero de Tarjeta:</label>
        <input id="numeroTarjeta" type="text" formControlName="numeroTarjeta" placeholder="Numero de Tarjeta">
      </div>

      <div class="form-group">
        <label for="titular">Nombre y Apellido del Titular:</label>
        <input id="titular" type="text" formControlName="titular" placeholder="Nombre y Apellido">
      </div>

      <div class="expiration-security">
        <div>
          <label for="fechaExpiracion">Fecha de Vencimiento:</label>
          <input id="fechaExpiracion" type="text" formControlName="fechaExpiracion" placeholder="MM/AAAA">
        </div>
        <div>
          <label for="cvv">Código de Seguridad:</label>
          <input id="cvv" type="text" formControlName="cvv" placeholder="CVV">
        </div>
      </div>

      <button class="botonguardar" type="submit" [disabled]="form.invalid">Guardar Tarjeta</button>
    </form>
</div>
